.homepage {
	width: 90vw;
	margin: auto;
}

.homepage .toolbar {
	display: flex;
	flex-wrap: wrap;
}

.loading-view {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.summary {
	margin: 20px 0;
	background: whitesmoke;
	padding: 10px;
	display: flex;
}

.summary p {
	margin-right: 10px;
}

