.table {
	border: solid 1px rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	width: 100%;
	height: auto;
	overflow: scroll;
	margin: 20px 0;
	text-align: left;
	font-size: 14px;
	border-radius: 5px;
	border-style: hidden;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	table-layout: fixed;
}

.table th,
.table tr,
.table td {
	border: solid 1px rgba(0, 0, 0, 0.2);
	padding: 8px 10px;
	border-collapse: collapse;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table th {
	font-size: 15px;
	font-weight: normal;
	background: whitesmoke;
}

.table th:first-child {
	border-top-left-radius: 5px;
	width: 40px;
}

.table th:last-child {
	border-top-right-radius: 5px;
}
